
body{
    background-color: rgb(46, 46, 46);
    margin: 5%;
}

.container{
    font-family: Tahoma;
    width: 90%;
    color:whitesmoke;
}

img{
    padding-left: 12%;
}

.subcontainer{
    color: rgb(255, 238, 0);
    background-image: url("b3.gif");
    background-size: cover;
    border: steelblue 1px solid;
    
    margin-top: 50px;
    border-left: 5px steelblue solid;
    border-bottom: 2px steelblue solid;
    border-right: 3px steelblue solid;
    padding: 2%;
    letter-spacing: 0.1m;
}

.categories{
    margin-top: 3%;
    border: dashed darkorchid;
    color: white;
    font-family: Tahoma;
    

}

.categories h3{
    margin-left: 15px;
}

.categories li{
    color: greenyellow;
    padding-bottom: 7px;
    border-bottom:  1px #fff;
}

.categories a{
    color:rgb(93, 236, 255)
}
.categories a:hover{
    color:blue;
}

a:visited{
    color:yellow;
}

/* Forms */
.forms{
    font-family: tahoma;
    color:white;
    padding-top: 5%;
    display: block;
}
.forms label{
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
}

.forms input[type = "text"], .forms textarea{
    padding: 10px;
    width: 100%;
}

.forms input[type="submit"]{
    background-color: rgb(167, 167, 167);
    font-weight: 600;
    color:rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
}

.button{
    width: 100%;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.button:hover{
    background: darkred;
    color:white;
}

.block{
    color:white;
    font-family: tahoma;
    width: 33.33%;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    display: table-cell;
    padding-left: 10px;
    padding-right: 5px;
}

.blockContainer{
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

#main-block{
    float: left;
    width: 70%;
}

#sidebar{
    float: right;
    width: 30%;
    color:white;
    padding: 15px;;
    box-sizing: border-box;
}

.pbox{
    padding-left: 1.5%;
    margin-top: 5%;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    height: 500px;
    border: 1px solid white;
    position: relative;
}

.pbox h3{
    position: absolute;
    bottom: 20px;
    right: 25px;
    float: right;
}

.basedTag{
    position:fixed;
    right: 0%;
    bottom: 5%;
    color: lime;
    border: solid purple 3px;
    width: max-content;
    box-sizing: border-box;
}

#main-header{
    background-color:slategray;
    list-style: none;
}

#navbar li{
    list-style: none;
    padding: 0;
    display: inline;
    padding-right: 15px; 
}

#navbar a{
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color:rgb(229, 255, 0);
}
